/* CSS Reset based on http://meyerweb.com/eric/tools/css/reset/ */

/* Typography Test */

/* Layout. Based on the idea of 960.gs. Sorta. Loosely. */

/* Typography Base */

/* Links */

/* Header */

/* Menu */

/* Enhanced Menu */

/* Navigation */

/* Footer Toggle */

/* Footer */

/* Posts */

/* Webkit + Hoefler = Odd leading. Or at least different. */

/* Epigraph */

/* Pullquotes */

/* Main Links */

/* Homepage post excerpts */

/* entry meta */

/* Show more/less */

/* Comments */
/* Responses */

/* Archives */

/* Pages */

/* Image Layout */

/* Dark Scheme */

/* Media Specific Queries */
@media screen and (max-device-width: 480px) {
	* { margin: 0; border: 0; padding: 0; }
	body {
		-webkit-text-size-adjust: none;
	}
	div {
		clear: both !important;
		float: none !important;
		width: 320px !important;
		padding: 0 !important;
		margin: 0 !important;
	}
}
