/* For modern browsers */
/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

/* CSS Reset based on http://meyerweb.com/eric/tools/css/reset/ */

/* Typography Test */

/* Layout. Based on the idea of 960.gs. Sorta. Loosely. */

/* Typography Base */

/* Links */

/* Header */

/* Menu */

/* Enhanced Menu */

/* Navigation */

/* Footer Toggle */

/* Footer */

/* Posts */

/* Webkit + Hoefler = Odd leading. Or at least different. */

/* Epigraph */

/* Pullquotes */

/* Main Links */

/* Homepage post excerpts */

/* entry meta */

/* Show more/less */

/* Comments */
/* Responses */

/* Archives */

/* Pages */

/* Image Layout */

/* Dark Scheme */

/* Widgets */
.twtr-widget, .footer ul div div.twtr-widget {
	font-size: 12px !important;
}

/* Media Specific Queries */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 569px) {
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-device-width: 569px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) and (max-device-width: 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}

/* iPhone 4 and high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
}